/* __________Reset__________ */


*, *:after, *:before {
    box-sizing: border-box;
}

 html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }


body {
    margin: 0;
}

button {
    font-size: 100%; /* 1 */
}




/* __________Global vars__________ */

@font-face {
    font-family: 'proxima_nova_regular';
    src: url('../fonts/proximanova-regular.woff2') format('woff2'),
         url('../fonts/proximanova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/proximanova-semibold.woff2') format('woff2'),
         url('../fonts/proximanova-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_condsemibold';
    src: url('../fonts/proximanovacond-semibold.woff2') format('woff2'),
         url('../fonts/proximanovacond-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*___________Colors */

$accentColor : #CA0069;
$bgColor: #F7F7F7;
$bgColorAccent: #ECECEC;
$fontColor: #494949;
$fontColorSamll: #888888;
$fontColorOnDark: white;

/*___________Fonts */

body, div {
    font-family: 'proxima_nova_regular';
}

.regular {
    font-family: 'proxima_nova_regular';
}

.semibold {
    font-family: 'proxima_nova_semibold';
}

.condensed {
    font-family: 'proxima_nova_condsemibold';
}


/*___________Styles */

.topbelt{
    background-color: $accentColor;
    height: 3px;
    width: 100%;
}
.content {
    background-image: url("../img/header-big.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    left: 12vw;
    top: 34px;

    img {
        width: 22vw;
        height: auto;
    }
}

.headline {
    margin-top: 68vw;
    margin-bottom: 0;
    font-family: 'proxima_nova_semibold';
    font-size: 1.31rem;
    color: #494949;
    line-height: 1.625rem;
    text-align: center;
    width: 77vw;
}

.btn-top {
    margin-top: 30px;
    background-color: $accentColor;
    color: $fontColorOnDark;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
    border-radius: 3px;
    width: 77vw;
    height: 44px;
    border: none;
    cursor: pointer;
    transition: all 0.8s;

    &:active {
        background-color: white;
        border: 2px solid $accentColor;
        color: $accentColor;
    }

    &:hover {
        background-color: white;
        border: 2px solid $accentColor;
        color: $accentColor;
    }
}

.social-proof {
    width: 77vw;
    margin-top: 7px;
    padding-bottom: 50px;

    .digits {
        font-family: 'proxima_nova_condsemibold';
        font-size: 1.25rem;
        letter-spacing: 1px;
        text-align: center;
        margin: 0;
        padding-top: 15px;
    }

    .sub-digits {
        text-align: center;
        margin: 0;
        font-size: 1rem;
    }

}

.footer {
    background-color: $bgColor;
    width: 100vw;
    border-top: 1px solid $bgColorAccent;
    border-bottom: 1px solid $bgColorAccent;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    a {
        font-size: 0.875rem;
        display: block;
        text-decoration: none;
        color: $fontColorSamll;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        line-height: 30px;
    }

}

.copyright {
    font-size: 0.8rem;
    color: $fontColor;
}

